/* =========================
   STARGIRL HOME SCREEN
   ========================= */

.home-screen {
    width: min(82vw, 810px);
    min-height: 900px;

    background: #ffffff;

    border: 9px solid #000000;
    border-radius: 60px;

    box-shadow: 14px 14px 0 #000000;

    padding: 65px;

    text-align: center;
}

.home-time {
    color: #7c879c;
    font-size: 20px;
    margin-bottom: 55px;
}

.home-screen h1 {
    color: #07183d;
    font-size: 38px;
    margin-bottom: 80px;
}

.apps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.apps button {
    height: 180px;

    background: #d2f1dc;

    border: 7px solid #000000;
    box-shadow: 8px 8px 0 #000000;

    font-family: 'Press Start 2P', monospace;
    font-size: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.apps button span {
    font-size: 13px;
}

.apps button:nth-child(2) {
    background: #dce4ff;
}

.apps button:nth-child(3) {
    background: #e1e7ff;
}

.apps button:nth-child(4) {
    background: #c9d5ff;
}
